<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    Welcome to {{ title }}!
  </h1>
 <!-- Angular -->
<ul>
  <li *ngFor="let source of sources; let i = index">
    {{i+1}} {{source.title}} 
  </li>
</ul>

